<span> </span><style>
  .container22 {
    text-align: center;
    position: relative;
    margin-top: 1%;
  }

  .text-field22 {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
  }

  .button22 {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .upperbuttons{
    padding-top: 1%;
    margin-left: 4%;
  }
  .authlink {
    margin-left: -1%;
    position: absolute;

  }
  .upperpanel{
    font-family: 'Roboto';
    font-size: large;
    src: url('Roboto-Black.ttf');
    font-weight: lighter;
  }
</style>
<body>
  <header class="p-3 bg-dark text-white" style="background-color: #212529; box-shadow: 0px 8px 4px black;">
    <div class="container">

      <div class="upperpanel">
        <div class="upperbuttons">
          <table>
            <td>
              <% if @user.nil? %>
              <%= link_to "Dummy panel", root_path %>
              <% elsif !@trainer.nil? %>
              <%= link_to "Trainer panel", trainer_path(@trainer), {:style=>'color:#BDBDBD;', :class => "css_class"} %>
              <br>
              <%= link_to "User panel", user_path(@user), {:style=>'color:#BDBDBD;', :class => "css_class"} %>
              <% elsif !@user.nil? %>
              <%= link_to "User panel", user_path(@user), {:style=>'color:#BDBDBD;', :class => "css_class"} %>
              <% end %></td>
              <td>
                <% if @user.nil? %>
                <%= link_to "Dummy panel", root_path %>
                <% else %>
                <%= link_to "Callories calculator", user_path(@user), {:style=>'color:#BDBDBD;', :class => "css_class"} %>
                <% end %></td>
                <td>
                  <%= link_to "Main page", root_path, {:style=>'color:#BDBDBD;', :class => "css_class"} %>
                <td>
              <div class="authlink"> <%= link_to "Log in", auth_path, {:style=>'color:#BDBDBD;', :class => "css_class"} %></div></td>
              <td>
                <% if @admin.nil? %>
                <% else %>
                <%= link_to "Admin User panel", admin_user_path(@user), {:style=>'color:#BDBDBD;', :class => "css_class"} %>
                <% end %>
              </td>
          </table>
        </div>
    </div>
  </header>
  <style>.general-container {
    background-image: url('/assets/fitbackground_white.png');
    background-repeat: repeat-x repeat-y;
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    padding-left: 4%;
    min-width: 640px;
    width: 100%;
    height: 100%;
    min-height:800px;/* Set height as per your wish. */
}</style>
  <div class="general-container">
  <main>
    <div>
      <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px; color: white;
          overflow:hidden;padding:20px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px; color: white;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0lax{text-align:left;vertical-align:top}
        </style>
        <style>.proxy-container {
          background: #252525;
          padding-left: 5%;
          padding-right: 5%;
          margin-top: 1%;
          padding-top: 2%;
          position: absolute;
          width: 90%;
          height:500px;/* Set height as per your wish. */
          box-shadow: -4px 8px 4px black;
      }</style>
      <div class="proxy-container";">
        <table class="tg">
        <tbody>
          <tr>
            <td>
            <% if @Uservar != nil %>
              <span>Your diet is:<%= @Nutritvar.description %><br>
                Callories:<%= @Nutritvar.callories %> <br>
                Protein:<%= @Nutritvar.protein %> <br>
                Fats:<%= @Nutritvar.fats %> <br>
                Carbohydrates:<%= @Nutritvar.carbohydrates %>
              </span>
            <% else %>
              <span>Consuming a healthy diet throughout the life-course helps to prevent malnutrition in all its forms as well as a range of noncommunicable diseases (NCDs) and conditions. However, increased production of processed foods, rapid urbanization and changing lifestyles have led to a shift in dietary patterns. 
                People are now consuming more foods high in energy, fats, free sugars and salt/sodium, and many people do not eat enough fruit, vegetables and other dietary fibre such as whole grains.
                The exact make-up of a diversified, balanced and healthy diet will vary depending on individual characteristics (e.g. age, gender, lifestyle and degree of physical activity), cultural context, locally available foods and dietary customs. 
                However, the basic principles of what constitutes a healthy diet remain the same</span>
            <% end %>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
