<header class="p-3 bg-dark text-white" style="background-color: #212529; box-shadow: 0px 8px 4px black;">
  <div class="container">
    <div class="upperpanel">
        <style>.upperbuttons{
          margin-left: 4%;
        }
        .upperpanel{
        font-family: 'Roboto';
        font-size: large;
        src: url('Roboto-Black.ttf');
        font-weight: lighter;
        }</style>
        <div class="upperbuttons">
          <table>
            <td>
              <% if @user.nil? %>
              <%= link_to "Dummy panel", root_path %>
              <% else %>
              <%= link_to "User panel", user_path(@user), {:style=>'color:#BDBDBD;', :class => "css_class"} %>
              <% end %></td>
              <td>
                <% if @user.nil? %>
                <%= link_to "Dummy panel", root_path %>
                <% else %>
                <%= link_to "Callories calculator", user_path(@user), {:style=>'color:#BDBDBD;', :class => "css_class"} %>
                <% end %></td>
                <td>
                  <%= link_to "Main page", root_path, {:style=>'color:#BDBDBD;', :class => "css_class"} %>
                <td>
              <div class="authlink"> <%= link_to "Log in", auth_path, {:style=>'color:#BDBDBD;', :class => "css_class"} %></div></td>
          </table>
        </div>
    </div>
</header>
<main>
<style>.general-container {
    background-image: url('/assets/fitbackground_white.png');
    background-repeat: repeat-x repeat-y;
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    padding-left: 4%;
    min-width: 640px;
    width: 100%;
    height: 100%;
    min-height:800px;/* Set height as per your wish. */
}</style>
<div class="general-container";">
            <style>.container-fluid {
                position: absolute; /* text color style */
                text-align: center;
                color: white;
            }</style>
    <style>.proxy-container {
        background: #252525;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 2%;
        padding-top: 2%;
        position: absolute;
        width: 90%;
        height:500px;/* Set height as per your wish. */
        box-shadow: -4px 8px 4px black;
    }</style>
    <div class="proxy-container";">
        <div style="width: 40%; float:left">
            <% if @Uservar != nil %>
            <div class="container-fluid">
            <br><span>E-Mail:<%= @Uservar.email %></span>
            <br><br><span>Sex:<%= @Uservar.sex %></span>
            <br><span>Height:<%= @Uservar.height %></span>
            <br><span>Weight:<%= @Uservar.weight %></span>
            <br><br><span>Tel:<%= @Uservar.tel %></span>
            <br><br><span>Trainer:<%= @Trainervar.email %></span></div>
            <% else %>
            <br><span>Authorize to see this content</span>
            <% end %>
        </div>
    
        <div style="width: 60%; float:right"> 
            
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center vh-100">
                    <div class="col-lg-6">
                        <div class="position-relative text-center">
                            <% case @Uservar.training_id %>
                            <% when 1%>
                            <%= link_to image_tag('heavy_athletics_alpha.png', class: 'img-fluid rounded', alt: 'Your Image', style: 'width: 400px; height: 400px; box-shadow: -3px 5px 3px black;'), '#', class: 'text-decoration-none' %>
                            <% else %>
                            <%= link_to image_tag('image1.jpg', class: 'img-fluid rounded', alt: 'Your Image', style: 'width: 400px; height: 400px;'), '#', class: 'text-decoration-none' %>
                            <% end %>  
                        </div>
                        <span><b>Training preferation:<%= @Trainingvar.name %></b></span>
                    </div>
                </div>
            </div>
        </div>
          <br style="clear:both;"/> 
    </div>
</div>
</main>