<!DOCTYPE html>
<html>
  <head>
    <title>FitnessManagementRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <style>
      .content {
        max-width: 500px;
        margin: auto;
      }
      </style>
    <div class="content">
    <%= link_to "User panel", userpanel_path %>
    <%= link_to "Main page", root_path %>
    </div>
    <%= yield %>
  </body>
</html>
